<!DOCTYPE html>
<html>
<head>
{% from 'macro.html' import links, scripts %}
  {{links()}}
	<meta charset="utf-8">
	<title>Password Reset</title>
</head>
<body>
  <style>
html, body{
  height: 100%;
}
  main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input, form{
    margin: 1rem 0px;
  }

  .custom-button{
    background-color:  #008890;
    color:  #fff;
  }

  img{
    max-width: 360px;
    width: 100%;
    height: 150px;
    display: block;
  }

  main > div{
    display: flex;
    flex-direction: column;
  }

  main > div > img{
    align-self: center;
  }
  
  </style>
	<main>
	<div class="col-11 col-lg-5 col-md-7">
        <img src='/static/img/brand.png' />
        <div role="form">
          {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
             {{message}}
              <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
          {% endfor %}
          <div class='alert alert-info alert-dismissible fade'>
            <div id='password-alert'></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <input type='hidden' name='csrf-token' value="{{csrf_token}}" />
          <input type="email" name="email" class="form-control" id="name" placeholder="Your Email" required>
          <button id='submit' type="submit" class='btn custom-button form-control'>Continue ...</button>
        </div>
      </div>
  </main>

<script>
  let csrf = document.querySelector('input[name="csrf-token"]').value
  let email = document.querySelector('input[name="email"]')
  let submit = document.querySelector('#submit')
  let alert_close_button = null;
  submit.addEventListener('click', function(){
    let email_entry = email.value
    if(email_entry && csrf){
      let formdata = new FormData()
      formdata.append('email', email_entry)
      formdata.append('csrf-token', csrf)
        fetch('{{url_for("start_password_reset")}}', {
          'method':'POST',
          'body': formdata
        }).then( response => {
          if(response.status == 200){
            response.json().then( data => {
              let alert_box = document.querySelector('#password-alert')
              alert_box.innerText = data
              alert_box.parentElement.classList.add('show');
              alert_close_button = document.querySelector('.alert button.btn-close')
              alert_close_button.addEventListener('click', function(){
                alert_box.parentElement.classList.remove('show');
              })
            })
          }else{
            console.error(response)
          }
        })
    }
  })


</script>
  {{scripts()}}
</body>
</html>