<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Change Password</title>
</head>
<body>
  <main id='main'>
<div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form id='change-password-form' method='post'>
                    <input type='hidden' name='csrf-token' value='{{csrf_token}}' id='change-password-csrf-token'/>

                    <input type='hidden' name='user-id' value='{{user_id}}' />
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="new-password" type="password" class="form-control" id="currentPassword" requried>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Re-Enter Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="confirm-password" type="password" class="form-control" id="newPassword" required>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>
              </main>
</body>
</html>