{% extends 'forms.html' %}
{% block title %}Two Factor Authentication {% endblock %}
{% block content %}

        <form role="form" method='post'>
          <h2> Authentication OTP </h2>
          <p> Please enter the authentication otp sent to your email address. </p>
          {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
             {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
          <div id='password-alert'></div>
          <input type='hidden' name='csrf-token' value="{{csrf_token}}" />
          <input type="text" class="form-control" name="otp" id="email" placeholder="Enter Four Digit OTP ..." required>
          <button type="submit" class='btn custom-button form-control'>Continue ...</button>
          <a id='request_token'>Resend Token</a>
        </form>

 <script>
  let resend = document.querySelector('#request_token')
  console.log(resend)
  resend.addEventListener('click', function(){
    console.log('requesting the renewal of the token')
    fetch('{{url_for("administrator.otp")}}',{
      'method': 'PUT',
    }).then( response => {
      if(response.status == 200){
        response.json().then(data => {
          document.querySelector('#password-alert').innerText = data
        })
      
      }else{
        console.error(response)
      }
    })
  })
</script>
{% endblock %}
