
        <form role="form" method='post'>
{% extends 'forms.html' %}
{% block title %}Login To Admin Panel {% endblock %}
{% block content %}
        <form method='post'>
          <h2> Administrator Panel </h2>
          <p><i class='bi bi-info'></i> Enter your administrator Email and Password to Continue.</p>
          {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
             {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
          <div id='password-alert'></div>
          <input type='hidden' name='csrf-token' value="{{csrf_token}}" />
          <input type="email" name="email" class="form-control" id="name" placeholder="Your Email" required>
          <input type="password" class="form-control" name="password" id="email" placeholder="Your Password" required>
          <button type="submit" class='btn custom-button form-control'>Continue ...</button>
          <a href='{{url_for("administrator.start_password_reset")}}'>Forgot Password?</a>
        </form>
{% endblock %}