{% extends 'forms.html' %}
{% block title %} Set New Password {% endblock %}
{% block content %}

        <form role="form" method='post'>
          {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
             {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
          <div id='password-alert'></div>
          <input type='hidden' name='csrf-token' value="{{csrf_token}}" />
          <input type='hidden' name='user-token' value ="{{token}}" />
          <input type="password" name="new-password" class="form-control" id="name" placeholder="New password" required>
          <input type="password" name="confirm-password" class="form-control" id="name" placeholder="Re-enter Password" required>
          <button type="submit" class='btn custom-button form-control'>Continue ...</button>
        </form>
{% endblock %}