<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% from 'macro.html' import links,footer, meta %}
  {{meta()}}
  {{links()}}
  <style>
  	html, body{
  height: 100%;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
</style>
</head>
<body>
	<main>
		<div class='col-10 col-lg-6 col-md-6'>
			<div class='card' style='height: 350px'>
				<div class='card-body'>
					<img src='/static/500.gif' alt='A spoilt server' />
					<h1> Server Error!</h1>
					<p> The Technical are working to get this issue resolve asap. Check back later. <br> Thanks</p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

